body {
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}

#root,
.fill {
    width: 100%;
    height: 100%;
}

.liked {
    color: green !important;
}

.liked:hover {
    color: #1e70bf !important;
}

.disliked {
    color: red !important;
}

.disliked:hover {
    color: #1e70bf !important;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hiddenPost {
    color: violet !important;
}

.hiddenPost:hover {
    color: #1e70bf !important;
}

.amountChooser{
    display: flex;
    justify-content: space-between;
}
.amountChooser input[type='number']{
    width: 100px;
}

.deleted{
    text-decoration: none;
    background: none #fff !important;
    color: green !important;
    box-shadow: none !important;
}
